.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.typewriter {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  max-width: 440px;
  color: #fff;
  font-family: 'Poiret One';
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .2em; /* Adjust as needed */
  animation: 
    typing 7.5s steps(30, end),
    blink-caret .3s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.upload {
  width: 200px;
  margin: 0 auto;
}

.upload:hover {
  cursor: pointer;
  opacity: .5
}
